
    body { 
      margin: 0; 
      overflow: hidden; 
      background: radial-gradient(circle at center, #02040a, #000); 
      font-family: 'Poppins', sans-serif; 
    }
    canvas { display: block; }

    .info-box {
      position: absolute;
      min-width: 280px;
      max-width: 480px;
      padding: 15px 20px;
      border-radius: 15px;
      background: rgba(100, 180, 255, 0.15);
      border: 1px solid rgba(150, 220, 255, 0.4);
      color: #ccf3ff;
      backdrop-filter: blur(4px);
      transform: translate(-50%, -50%) scale(0);
      transition: transform 0.4s ease, opacity 0.4s ease;
      opacity: 0;
      z-index: 10;
      text-align: center;
    }
    .info-box.active { transform: translate(-50%, -50%) scale(1); opacity: 1; }
    .info-box h2 { font-size: 20px; color: #aeeaff; margin-bottom: 5px; text-shadow: 0 0 10px #66ccff; }
    .close-btn {
      cursor: pointer;
      float: right;
      font-size: 18px;
      color: #aeeaff;
      transition: 0.3s;
    }
    .close-btn:hover { color: #fff; text-shadow: 0 0 5px #fff; }

    .ui-panel {
      position: absolute;
      bottom: 25px;
      left: 25px;
      width: 350px;
      height: 150px;
      padding: 15px;
      border-radius: 13px;
      background: rgba(25, 80, 120, 0.15);
      border: 1px solid rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(3px);
      color: #ccf3ff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 15;
    }
    .ui-panel img {
      width: 50%;
      height: 160px;
      object-fit: fill;
      border-radius: 10px;
    }

    .ui-panel p {
      font-size: 14px;
      color: #b8eaff;
      margin-left: 5%;
    }
    .ui-panel p a{
     color: #b8eaff;
    }
    .ui-panel p a:hover{
      color: white;
    }
 